@import '../../../styles/_dependencies';

.Search {
    position: relative;
    width: 100%;
    padding: 12px 16px 21px;

    input {
        width: 100%;
        padding: 0 23px !important;
    }

    input::placeholder {
        color: #999;
    }

    i {
        position: absolute;
        top: 19px;
        left: 22px;
        font-size: 14px;
        color: #999;
    }

    .actionSearchClear {
        position: absolute;
        top: 16px;
        right: 19px;
        left: auto;
        padding: 3px;
        color: #999;
        font-size: 18px;

        &:hover {
            cursor: pointer;
            color: #666;
        }
    }
}
