@import '../../../styles/_dependencies';

.Button {
    @include reportButton;
    min-width: 100px;
    padding: 0 10px;
    min-width: 75px;
    display: flex;
    justify-content: center;

    i {
        margin-right: 5px;
    }

    &:disabled {
        opacity: 0.4;
        pointer-events: none;
        cursor: not-allowed;
    }
}
