@import './_mixins';

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    height: 100vh;
}

body {
    background-color: #e6e6e6;
    color: #444;
    margin: 0;
    padding: 0;
    font-family: 'lato', sans-serif;
    font-size: 14px;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    @include mobile {
        font-size: 11px;
    }

    @include print {
        background-color: #fff;
        font-size: 9px;
        color-adjust: exact;
    }
}

h1,
h2,
h3 {
    font-size: 1.25rem;
    font-weight: normal;
    line-height: 120%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: -2px 0 0 0;
    color: #269;

    @include print {
        font-size: 1.77em;
        color: #000;
    }
}
